$blue-grey: #2b3a42;

div {
  padding: 8px 16px;
  margin: 10px;
  background: $blue-grey;
  color: #e1e6e9;
  font-family: Menlo, Courier, monospace;
  font-size: 13px;
  line-height: 1.5;
  text-shadow: 0 1px 0 rgba(23, 31, 35, 0.5);
  border-radius: 3px;
}
